*{
	box-sizing: border-box;
	margin-top: 0px;
	padding:0px;
}
html{
	margin: 0px;
	padding: 0px;
}
header{
	padding-top: 0px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 0px;
	margin-top: 0px;
	background-color: #C4F1BE;
	height: 150px;

}

body{
	padding-top: 0px;
	font-family: helvetica;
	margin-top: 0px;

}

section{

	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 50px;


}
.flex-container{
	display: flex;
	flex-direction: row;
	padding: 20px;
	width: 100%;
	justify-content: space-evenly;
	
}
.gLeft{
	float: left;
	width: 35%;
	
}
.gRMenu {
	display: flex;
	width: 65%;
	justify-content: space-between;
	float:right;
	/* flex-direction: row; */
	
}
.secondary-button{
	width: 100px;
	height: 35px;
	display: flex;
	border: 2px solid #000;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: white;
	font-size: 15px;
 	text-transform: uppercase;

}

.primary-button{
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	height: 50px;
	display: flex;
	border: 3px solid #000;
	border-radius: 60px;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: white;
	font-size: 25px;
	text-transform: uppercase;
	padding: 20px;

}
h2{
	text-align: center;

}
p{
	text-align: center;
	line-height: 200%;
}
a{
	text-decoration: none;
	color: #000;
	height: auto;
	}

a:visited{
	text-decoration: none;
	color: #000;
	}
a:hover{
	background-color: rgb(0, 0, 0);
	color: white;
}
.about{
	max-width: 1000px;
	background-color: #C4F1BE;
	border-radius: 20px;
	padding: 15px;
}
.featureH{
	text-align: center;
	font-size: 50px;
}
.featureP{
	text-align: center;
	font-size: 18px;
}

img{
	width: auto;
	/* height: 20%; */
	border-radius: 15px;
	scale: 0.9;
}

.zoom {
	width: auto;
	padding: 10px;
	transition: transform .2s; /* Animation */
	margin: 0 auto;
  }
  
  .zoom:hover {
	transform: scale(1.15); 
  }
  .oneL{
	padding: 20px;
	text-align: center;
	font-size: 18px;
  }
  footer{
	text-align: center;
	background-color: #C4F1BE;
	padding-top: 40px;
  }
  .footerL{
	
width: 400px;
float: left;

  }
  .footerR{

width: 400px;
float: left;
  }
  .footfoot{
	background-color: #91b38d;
	padding-top: 40px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 2px solid rgb(0, 0, 0); /* Gray border */
	border-radius: 10px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	 /* Allow the user to vertically resize the textarea (not horizontally) */
  }
    input[type=submit] {
	background-color: #C4F1BE;
	color: black;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  input[type=submit]:hover {
	background-color: #91b38d;
  }
   .container {
	/* display: flex; */

	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	width: auto;
	padding: 20px;
  }
  .accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
	background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
  }
  .panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }
  .accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
 
  .flex-container-GRID{
	width: 900px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 50px;
	justify-content: space-evenly;
}
.grid3{
	display: flex;
	width:300px;
	height: 300px;
	text-align: center;
}
.login{
	padding: 20px;
	float: left;
	width: 50%;
	
}
.logN{
	padding: 10px;
	/* height: 600px; */
}
/* Hide the link that should open and close the topnav on small screens */
  .gRMenu .icon {
	display: none;
	float: right;
  }

.dropbtn {
	display:none;
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  

  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	display: none;
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
  }
  
  /* Links inside the dropdown */
 
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(0, 0, 0);
	color: white;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:none;}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
	.gRMenu a:not(:first-child) {display: none;}
	.gRMenu a.icon {
	  float: right;
	  display: block;
	}
  
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  /* @media screen and (max-width: 480px) { */
	.gRMenu.responsive {
		position: relative;
		display: flex;
		flex-direction: column;
		float:right;
		justify-content:space-around;

	}
	.gRMenu.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.gRMenu.responsive a {
	  float: right;
	  display: flex;
	  text-align: left;
	  flex-direction: column;

	}
	a.icon:hover{
		color: white;
		background-color: #C4F1BE;
	}


/* Dropdown Button */
.dropbtn {
	display: block;
	background-color: white;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 100px;
	height: 35px;
	display: flex;
	border: 2px solid #000;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: white;
	font-size: 15px;
 	text-transform: uppercase;

  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
	background-color: rgb(0, 0, 0);
	color: white;
  }
  
  /* The container <div> - needed to position the dropdown content */
  /* .gRMenu.dropdown {
	position: relative;
	display: inline-block;
  } */
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	min-width: auto;
	background-color: transparent;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  /* .dropdown-content a:hover {background-color: #ddd;} */
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  input[type=text], select, textarea {
	 /* Full width */
	margin-left: auto;
	margin-right: auto;
}
	.container{
		margin-left: auto;
		margin-right: auto;
	}
}